@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include gradient;
    font-family: 'Poppins', sans-serif;
    li {
        padding: 0 0.9rem;

        a {
            color: $white;
            text-transform: capitalize;
        }
    }
}

.navbar-brand {
    font-weight: 300;

}

img {
    padding: 0 3px;
}

