@use '../custom' as *;

.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    &--intro {
        display: inline-block;
        font-weight: 700;
        color: $gray-100;
        font-family: 'Poppins', sans-serif;

        .name {
            color: $secondary;
        }
    }

    &--description {
        font-size: 1.2rem;
        text-transform: none;
        display: block;
        color: $gray-400;
        margin-top: 1.2rem;
    }
}